/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.image {
    overflow: hidden;
    background-color: white;
    border: 1px solid #d9d9d9;
}

.round-image-40 {
    margin-top: 7px;
    border-radius: 19px;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    height: 38px;
    width: 38px;
}

.round-image-40-table {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 19px;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    height: 38px;
    width: 38px;
}

.round-image-300 {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    height: 200px;
    width: 200px;
}

img {
    width: 100%;
}

.stronger {
    font-weight: bold
}

#wrapper {
    padding: 0px 20px 0px 20px;
}

.search {
    padding-left: 1px;
    padding-bottom: 10px;
}

.head-search {
    padding-left: 10px;
    padding-top: 8px;
}