/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    min-width: 770px; /* suppose you want minimun width of 1000px */
    width: auto !important; /* Firefox will set width as auto */
    width: 770px; /* As IE ignores !important it will set width as 1000px; */
}

.image {
    overflow: hidden;
    background-color: white;
    border: 1px solid #d9d9d9;
}

.round-image-40 {
    margin-top: 6px;
    border-radius: 19px;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    height: 38px;
    width: 38px;
}

.round-image-40-table {
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 19px;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    height: 38px;
    width: 38px;
}

.round-image-300 {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    height: 200px;
    width: 200px;
}

img {
    width: 100%;
}

.stronger {
    font-weight: bold
}

#wrapper {
    padding: 0px 20px 0px 20px;
}

.search {
    padding-left: 1px;
    padding-bottom: 10px;
}

.head-search {
    padding-left: 10px;
    padding-top: 8px;
}

.FlexEmbed {
    display: block;
    overflow: hidden;
    position: relative;
}

.FlexEmbed:before {
    content: "";
    display: block;
    width: 100%;
}

.FlexEmbed--3by1:before {
    padding-bottom: 33.33333%;
}

.CoverImage {
    background-position: 50%;
    background-color: #606060;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 1em;
    max-height: 333px;
    max-width: 100%;
}

.profile {
    width: 125px;
    height: 125px;
    position: relative;
    left: 25px;
    margin-top: -110px;
    z-index: 2;
    border: 4px solid white;
    -webkit-border-radius: 2px;
    opacity: 1;
}

.profile img {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
}

.full-name {
    color: white;
    font-size: 28px;
    position: relative;
    margin-top: -95px;
    margin-left: 45px;
    z-index: 2;
}

.edit-button {
    position: relative;
    margin-top: -107px;
    z-index: 2;
}

.edit-button-td {
    padding-right: 25px;
}